.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.2rem;
  background-color: whitesmoke;
  box-shadow: rgb(244, 242, 242) 0px 0px 1px;
  h3 {
    font-size: 2.5rem;
    font-family: "bebas neue";
  }
}
.nav-icon {
  align-items: flex-start;
  img {
    width: 50px;
  }
}

.navBar-left {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.navBar-right {
  a {
    gap: 10px;
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  a:hover {
    box-shadow: 0 5px 20px 0px rgba(4, 110, 27, 0.6);
  }
}
