.navBar {
  display: flex;
  background-color: rgb(58, 183, 58);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.2rem;
  h3 {
    font-size: 2rem;
    font-family: "bebas neue";
  }
}
.nav-icon {
  align-items: flex-start;
  img {
    width: 50px;
  }
}

.navBar-left {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.navBar-right{ //hjälp?
  a{
    gap:10px
  }
}