.animal-container {
  display: flex;
  width: 40%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.animal-info-container {
  border: 1px solid black;
  img {
    height: 20rem;
  }
  button {
    width: 5rem;
  }
  button:hover {
    cursor: pointer;
  }
}
